@model HGO.ASPNetCore.FileManager.ViewComponentsModel.FileManagerModel

<div id="@Model.Id"></div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        new HgoFileManager('@Model.Id', '@Model.ApiEndPoint', JSON.parse('@Json.Serialize(Model.Config)'));
    }, false);
</script>
