@using HGO.ASPNetCore.FileManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YigitGnc.HGO.ASPNetCore.FileManager.Test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HGO.ASPNetCore.FileManager.Test.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*HGO.AspNetCore.FileManager Styles*@
    @this.RenderHgoFileManagerCss(true)
    @*---------------------------------*@

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-center">
                <a class="navbar-brand ps-3" asp-area="" asp-controller="Home" asp-action="Index">YigitGnc.HGO.ASPNetCore.FileManager</a>
                <button class="navbar-toggler col-12 d-none" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="https://www.nuget.org/packages/yigitgnc.HGO.ASPNetCore.FileManager/" target="_blank">Nuget Package</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="https://github.com/yigitgnc/HGO.ASPNetCore.FileManager/pkgs/nuget/YigitGnc.HGO.ASPNetCore.FileManager" target="_blank">Github Package</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container text-center">
            YigitGnc.HGO.ASPNetCore.FileManager
        </div>
    </footer>

    @*HGO.AspNetCore.FileManager Scripts*@
    @this.RenderHgoFileManagerJavaScripts()
    @*----------------------------------*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
