<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HGO.ASPNetCore.FileManager.Test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HGO.ASPNetCore.FileManager.Test.styles.css" asp-append-version="true" />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @*HGO.AspNetCore.FileManager Styles*@
    <link rel="stylesheet" href="~/hgofilemanager/jsTree/themes/default/style.min.css" type="text/css" />
    <link rel="stylesheet" href="~/hgofilemanager/dropzone/dropzone.css" type="text/css" />
    <link rel="stylesheet" href="~/hgofilemanager/fontawesome/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="~/hgofilemanager/context-js/context/skins/kali_light.css" type="text/css" />
    <link rel="stylesheet" href="~/hgofilemanager/toastify/toastify.css" type="text/css" />
    <link rel="stylesheet" href="~/hgofilemanager/HgoFileManager.css" type="text/css" />
    
    @*HGO.AspNetCore.FileManager Scripts*@
    <script src="~/hgofilemanager/js.cookie/js.cookie.js"></script>
    <script src="~/hgofilemanager/fontawesome/js/fontawesome.min.js"></script>
    <script src="~/hgofilemanager/lozad.js/lozad.min.js"></script>
    <script src="~/hgofilemanager/jsTree/jstree.min.js"></script>
    <script src="~/hgofilemanager/viselect/viselect.js"></script>
    <script src="~/hgofilemanager/split.js/split.js"></script>
    <script src="~/hgofilemanager/dropzone/dropzone.js"></script>
    <script src="~/hgofilemanager/context-js/context/context.min.js"></script>
    <script src="~/hgofilemanager/toastify/toastify.js"></script>
    <script src="~/hgofilemanager/HgoFileManager.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HGO.ASPNetCore.FileManager.Test</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HGO.ASPNetCore.FileManager.Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
